html,body {
  margin:0;
  box-sizing:border-box;
  padding:0;
  font-family: sans-serif;
}


body{
  background-color:#025;
}
header{
  text-align:center;
  background-color:#fff;
  padding:3%;
  margin:0;
}

/****HOME LINK STYLES****/
#homeLink{
  font-size:1.5rem;
  letter-spacing:3px;
  padding:0.5% 1%;
  border-radius:8%;
  margin: 0 1%;
  background-color: #000;
  color:#fff;
  font-weight:bold;
  position:absolute;
  top:1rem;
  left:0;
  transition:all 0.1s linear;
}
#homeLink:hover{
  background-color:#fff;
  color:#000;
  border: thin solid #000;
}
 a{
  text-decoration:none;
  color:inherit;
}
#homeLink:hover{
  color:#000;
  background-color:#fff;
}

/*********END**********/
header, p{
  margin:0;
  padding:2%;
}
h1{
  margin:0;
}
#targetColorDisplay{
  text-transform:uppercase;
  font-size: 3rem;
}
#stripe{
  text-align:center;
  line-height:2;
  background-color:#fef;
  margin:0;
}
#userMsg{
  width: 8rem;
  display:inline-block;
  text-transform:capitalize;
  font-family:cursive;
}
 button {
  text-transform: uppercase;
  letter-spacing:3px;
  border: none;
  margin: 0 1%;
  background-color: #fff;
  
}
main{
display:flex;
}

#gameBoard{
  margin:auto;
  width:100%;
}
#colorGrid{
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  
}
.oneColor{
  width:32%;
  background-color:green;
  padding-bottom:30%;
  margin:0.667%;
  border-radius:12%;
  box-shadow:0 0 10px 1px #020;
}

@media only screen and (min-width: 1200px){
  #gameBoard {
    width: 80%;
  }
  
}
